.header{
  color: firebrick;
}
.header1{
  color: blue;
}
.container{
  display: flex;
}
.list{
  list-style: none;
}
.btn{
  padding:5px 15px;
  background: aqua;
  margin: 0 10px;
  border-radius: 3px;
  cursor: pointer;
}
.btns{
  margin-top: 23px;
}
.check{
  cursor: pointer;
}


