<div class="header" style="text-align: center">
<h3>CourseComponent works</h3>
</div>
<p style="text-align: center" class="header1">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
<div class="container">
  <div class="list" style="text-align: center">
    <ul>
      <li><a href="#">menu</a></li>
      <li><a href="#">menu</a></li>
      <li><a href="#">menu</a></li>
    </ul>
  </div>
  <div class="btns" style="text-align: center">
    <button class="btn">btn1</button>
    <button class="btn">btn2</button>
    <button class="btn">btn3</button>
    <input class="check" type="checkbox" name="check-form" id="checkOut">
    <label for="checkOut">Check me out</label>
  </div>
</div>
